oglasi.dtd

<!ELEMENT Oglasi (Oglas+)>
<!ELEMENT Oglas (Kategorija,DatumIsteka,Cena,Tekst,Oznake,Mejlovi)>
<!ELEMENT Cena (#PCDATA)>
<!ELEMENT Tekst (#PCDATA)>
<!ELEMENT Oznake (Oznaka+)>
<!ELEMENT Oznaka (#PCDATA)>
<!ELEMENT Mejlovi (Email+)>
<!ELEMENT Email (#PCDATA)>

<!ATTLIST Kategorija tip (Automobil|Motor|Nekretnina) #REQUIRED>
<!ATTLIST Cena valuta (RSD|EUR) "RSD">
<!ATTLIST Email tip (Privatni|Sluzbeni) #REQUIRED>